<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>森のビュッフェ SUN</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              Mincho: ["DFHSMincho-W5", "Ms mincho"],
            },
            colors: {
              "forest-green": "#4A7C59",
              "warm-gold": "#D4AF37",
              "soft-gray": "#6B7280",
              "light-gray": "#E5E7EB",
              "dark-brown": "#5D4037",
              "smooth-gray": "#969494",
              "nature-color": "#665B09",
            },
            gridTemplateColumns: {
              20: "repeat(20, minmax(0, 1fr))",
            },
          },
        },
      };
    </script>
    <style>
      @keyframes spin-slow {
        0% {
          transform: rotate(170deg);
        }
        100% {
          transform: rotate(530deg);
        }
      }
      .animate-spin-slow {
        animation: spin-slow 40s linear infinite;
      }

      /* Navigation button hover effects */
      .nav-button {
        transition: all 0.3s ease;
        cursor: pointer;

        border: transparent;
        background: transparent;
        padding: 8px 16px;
        border-radius: 4px;
      }

      .nav-button:hover {
        border: 1px solid #665b09;
      }

      .footer-button {
        transition: all 0.3s ease;
        cursor: pointer;

        border: transparent;
        padding: 4px 8px;
        border-radius: 4px;
        text-align: left;
        width: 100%;
      }
      .circle-loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 200vmax;
        height: 200vmax;
        background: #2f5d3a; /* forest green */
        border-radius: 50%;
        z-index: 50;
        animation: circle-reveal 1.8s ease-out forwards;
      }

      @keyframes circle-reveal {
        0% {
          transform: translate(-50%, -50%) scale(0);
          opacity: 1;
        }
        100% {
          transform: translate(-50%, -50%) scale(1);
          opacity: 0;
        }
      }

      /* Page fade-in */
      .fade-in {
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }
      .fade-in.show {
        opacity: 1;
      }
    </style>
  </head>
  <body class="bg-white text-nature-color font-Mincho">
    <div id="loader" class="circle-loader"></div>
    <div id="mainPage" class="fade-in">
      <!-- Main Navigation -->
      <nav
        class="hidden md:block bg-white border-b-[0.4px] border-smooth-gray sticky top-0 z-50"
      >
        <div>
          <div
            class="hidden md:block absolute z-51 ml-[6vw] top-0 h-screen border-r-[0.4px] border-smooth-gray"
          ></div>
          <div
            class="hidden md:block right-0 absolute z-51 mr-[6vw] top-0 h-screen border-l border-smooth-gray"
          ></div>
          <div
            class="md:hidden absolute h-full z-51 ml-[25vw] border-r-[0.4px] border-smooth-gray"
          ></div>
          <div
            class="md:hidden absolute right-0 h-full z-51 mr-[25vw] border-r-[0.4px] border-smooth-gray"
          ></div>
        </div>

        <div
          class="ml-[7vw] grid grid-cols-8 mr-[7vw] py-[22px] text-[12px] leading-[20px] lg:text-[16px]"
        >
          <p
            class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
          >
            <button
              class="nav-button"
              onclick="window.location.href='Notice.html'"
            >
              お知らせ
            </button>
          </p>
          <p
            class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.open('https://toreta.in', '_blank')"
            >
              ご予約
            </button>
          </p>
          <p
            class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.location.href='Menu.html'"
            >
              メニュー
            </button>
          </p>
          <div
            class="flex justify-center items-center col-span-2 hover: cursor-pointer"
            onclick=" window.location.href='../index.html'"
          >
            <p
              class="text-[20px] leading-[30px] text-center lg:text-[26px] lg:leading-[36px]"
            >
              森のビュッフェ <br />
              <span class="tracking-[20px]">SUN</span>
            </p>
          </div>
          <p
            class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.location.href='Infor.html'"
            >
              店舗情報
            </button>
          </p>
          <p
            class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.location.href='Inside.html'"
            >
              店内案内
            </button>
          </p>
          <p
            class="p-[3px] flex justify-center items-center whitespace-nowrap tracking-tight"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.location.href='Contact.html'"
            >
              お問い合わせ
            </button>
          </p>
        </div>
      </nav>
      <nav
        class="md:hidden bg-white border-b-[0.4px] border-smooth-gray sticky top-0 z-50 grid grid-cols-4 relative"
      >
        <!-- Left -->
        <div
          class="flex items-center justify-center border-r-[0.4px] border-smooth-gray"
        >
          <p class="p-[3px] flex justify-center items-center">
            <button
              class="nav-button text-[12px]"
              onclick="window.open('https://toreta.in', '_blank')"
            >
              ご予約
            </button>
          </p>
        </div>

        <!-- Center -->
        <div
          class="flex justify-center items-center col-span-2 py-[15px] cursor-pointer"
          onclick=" window.location.href='../index.html'"
        >
          <p class="text-[12px] leading-[20px] text-center">
            森のビュッフェ <br />
            <span class="tracking-[9px]">SUN</span>
          </p>
        </div>

        <!-- Right Hamburger -->
        <div
          class="flex justify-center items-center border-l border-smooth-gray"
        >
          <button
            id="menu-btn"
            class="relative w-20 h-12 flex flex-col justify-center items-center group"
          >
            <span
              class="block w-[44px] h-[1px] bg-gray-800 mb-1 transition-transform duration-300 origin-center group-[.open]:rotate-45 group-[.open]:translate-y-[3.2px] group-[.open]:skew-x-5"
            ></span>

            <span
              class="block w-[44px] h-[1px] bg-gray-800 transition-transform duration-300 origin-center group-[.open]:-rotate-45 group-[.open]:-translate-y-[3.2px] group-[.open]:-skew-x-5"
            ></span>
          </button>
        </div>

        <!-- Dropdown -->
        <div
          id="dropdown"
          class="hidden absolute right-0 mt-[71px] z-50 w-1/2 bg-gray-200 overflow-hidden max-h-0 transition-all duration-500 ease-in-out"
        >
          <div
            class="p-[3px] flex justify-center items-center h-[50px] mt-[10px]"
          >
            <button
              class="nav-button"
              onclick="window.location.href='Notice.html'"
            >
              お知らせ
            </button>
          </div>
          <div
            class="p-[3px] flex justify-center items-center h-[50px] mt-[10px]"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.location.href='Menu.html'"
            >
              メニュー
            </button>
          </div>
          <div
            class="p-[3px] flex justify-center items-center h-[50px] mt-[10px]"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.location.href='Infor.html'"
            >
              店舗情報
            </button>
          </div>
          <div
            class="p-[3px] flex justify-center items-center h-[50px] mt-[10px]"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.location.href='Inside.html'"
            >
              店内案内
            </button>
          </div>
          <div
            class="p-[3px] flex justify-center items-center h-[50px] my-[10px]"
          >
            <button
              class="nav-button flex justify-center items-center"
              onclick="window.location.href='Contact.html'"
            >
              お問い合わせ
            </button>
          </div>
        </div>
      </nav>

      <!--title-->
      <div
        class="text-[50px] md:text-[106px] leading-[35px] md:leading-[165px] flex justify-center mt-[153px] my-[123px]"
      >
        お知らせ
      </div>
      <div class="w-[70vw] mx-auto" id="NoticeBoard">
        <div
          class="border-smooth-gray border-b-[0.4px] w-full md:mb-[50px] mb-[40px]"
        ></div>
        <div class="w-full grid grid-cols-7">
          <div
            class="text-[15px] leading-[40px] max-md:col-span-2 max-[425px]:col-span-3"
          >
            2025.9.10
          </div>
          <div class="text-[13px] mt-[5px] max-md:col-span-2">
            <div
              class="py-[4px] px-[4px] w-fit border-smooth-gray border-[0.4px]"
            >
              お知らせ
            </div>
          </div>
          <div class="hidden md:block md:col-span-5 text-[17px] leading-[40px]">
            新規料理サービス開始
          </div>
        </div>
        <div class="md:hidden text-[17px] leading-[40px] mt-[10px]">
          新規料理サービス開始
        </div>
        <div
          class="border-smooth-gray border-b-[0.4px] w-full md:my-[50px] my-[40px]"
        ></div>
        <div class="w-full grid grid-cols-7">
          <div
            class="text-[15px] leading-[40px] max-md:col-span-2 max-[425px]:col-span-3"
          >
            2025.8.5
          </div>
          <div class="text-[13px] mt-[5px] max-md:col-span-2">
            <div
              class="py-[4px] px-[4px] w-fit border-smooth-gray border-[0.4px]"
            >
              お知らせ
            </div>
          </div>
          <div class="hidden md:block md:col-span-5 text-[17px] leading-[40px]">
            このたび、2025年8月5日にGrand Openさせていただくことになりました。
            皆さまのお越しをお待ち申し上げております。
          </div>
        </div>
        <div class="md:hidden text-[17px] leading-[40px] mt-[10px]">
          このたび、2025年8月5日にGrand Openさせていただくことになりました。
          皆さまのお越しをお待ち申し上げております。
        </div>
        <div
          class="border-smooth-gray border-b-[0.4px] w-full md:my-[50px] my-[40px]"
        ></div>

        <div class="w-full grid grid-cols-7">
          <div
            class="text-[15px] leading-[40px] max-md:col-span-2 max-[425px]:col-span-3"
          >
            2025.8.1
          </div>
          <div class="text-[13px] mt-[5px] max-md:col-span-2">
            <div
              class="py-[4px] px-[4px] w-fit border-smooth-gray border-[0.4px]"
            >
              お知らせ
            </div>
          </div>
          <div class="hidden md:block md:col-span-5 text-[17px] leading-[40px]">
            新規料理サービス開始
          </div>
        </div>
        <div class="md:hidden text-[17px] leading-[40px] mt-[10px]">
          新規料理サービス開始
        </div>
        <div
          class="border-smooth-gray border-b-[0.4px] w-full md:mt-[50px] mt-[40px]"
        ></div>

        <div class="flex justify-center mt-[70px]" id="PageButton">
          <button
            class="w-[25px] h-[25px] border-[0.4px] border-[#665B09] flex justify-center items-center text-[10px] mx-[7px] hover:bg-[#665B09]/20 transition-colors duration-300"
          >
            &lt;&lt;
          </button>
          <button
            class="w-[25px] h-[25px] border-[0.4px] border-[#665B09] flex justify-center items-center text-[10px] mx-[7px] hover:bg-[#665B09]/20 transition-colors duration-300"
          >
            &lt;
          </button>
          <button
            class="w-[25px] h-[25px] border-[0.4px] border-[#665B09] flex justify-center items-center text-[10px] mx-[7px] bg-[#665B09] text-white hover:bg-[#665B09]/80 transition-colors duration-300"
          >
            1
          </button>
          <button
            class="w-[25px] h-[25px] border-[0.4px] border-[#665B09] flex justify-center items-center text-[10px] mx-[7px] hover:bg-[#665B09]/20 transition-colors duration-300"
          >
            &gt;
          </button>
          <button
            class="w-[25px] h-[25px] border-[0.4px] border-[#665B09] flex justify-center items-center text-[10px] mx-[7px] hover:bg-[#665B09]/20 transition-colors duration-300"
          >
            &gt;&gt;
          </button>
        </div>
      </div>

      <div class="my-[60px] border-b-[0.4px] border-smooth-gray"></div>
      <!-- Footer -->
      <footer class="mx-[6vw] grid md:grid-cols-3 grid-cols-1">
        <div class="border-smooth-gray md:border-r-[0.4px]">
          <img src="../logo.png" alt="Logo" class="w-full h-[265px]" />

          <div class="grid grid-cols-8 mt-[60px]">
            <div class="col-span-2"></div>
            <div class="flex justify-center">
              <img src="../facebook.png" alt="facebook" />
            </div>
            <div class="flex justify-center">
              <img src="../Group 31.png" alt="Instagram" />
            </div>
            <div class="flex justify-center">
              <img src="../Subtract.png" alt="Youtube" />
            </div>
            <div class="flex justify-center">
              <img src="../Vector.png" alt="Twitter" />
            </div>
            <div class="col-span-2"></div>
          </div>
          <div
            class="border-b-[0.4px] md:hidden border-smooth-gray my-[30px]"
          ></div>
        </div>

        <div class="grid grid-cols-8 border-smooth-gray md:border-r-[0.4px]">
          <div></div>
          <div class="col-span-7 text-[15px] leading-[40px] md:mt-[50px]">
            <p class="text-[17px] leading-[30px]">森のビュッフェSUN</p>
            <div class="ml-[1.5vw] mt-[20px]">
              <div class="flex">
                <p>住所</p>
                <p class="ml-[9px]">:</p>
                <p class="ml-[10px]">
                  〒880-0834<br />
                  宮崎県宮崎市<span
                    class="leading-[0px] text-[0px] min-[375px]:hidden md:block min-[1120px]:hidden"
                    ><br /></span
                  >新別府町前浜<br />
                  1401-224
                </p>
              </div>
              <div class="flex">
                <p>電話</p>
                <p class="ml-[9px]">:</p>
                <p class="ml-[10px]">0745-23-4567</p>
              </div>
              <div class="flex">
                <p>メール</p>
                <p class="">:</p>
                <p class="ml-[5px]">example@test.com</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="border-b-[0.4px] md:hidden border-smooth-gray my-[30px]"
        ></div>
        <div class="grid grid-cols-8">
          <div></div>
          <div class="col-span-7 text-[15px] leading-[40px] md:mt-[50px]">
            <p class="text-[17px] leading-[30px]">トップページ</p>
            <div class="ml-[1.5vw] mt-[20px]">
              <p class="p-[2px]">
                <button
                  class="footer-button"
                  onclick="window.open('https://toreta.in', '_blank')"
                >
                  ご予約
                </button>
              </p>
              <button
                class="footer-button"
                onclick="window.location.href='Menu.html'"
              >
                メニュー
              </button>
              <button
                class="footer-button"
                onclick="window.location.href='Infor.html'"
              >
                店舗情報
              </button>
              <button
                class="footer-button"
                onclick="window.location.href='Notice.html'"
              >
                お知らせ
              </button>
              <button
                class="footer-button"
                onclick="window.location.href='Inside.html'"
              >
                店内案内
              </button>
              <button
                class="footer-button"
                onclick="window.location.href='Contact.html'"
              >
                お問い合わせ
              </button>
            </div>
          </div>
        </div>
      </footer>
      <div class="border-b-[0.4px] border-smooth-gray w-full my-[60px]"></div>
      <div class="mt-[20px] relative w-full justify-center flex">
        <img src="../lift.png" alt="lift" class="absolute bottom-0" />
      </div>
      <section class="flex justify-center mb-[60px] text-[15px] leading-[25px]">
        2025森のビュッフェSUN.all rights reserved.
      </section>

      <!-- Scroll to Top Button -->
      <button
        id="scrollToTop"
        class="fixed bottom-8 right-2 text-white p-3 rounded-full opacity-0 transition-opacity duration-300 hover:bg-gray-300"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="-40 0 180 100"
        >
          <polyline
            points="-40,100 50,0 140,100"
            fill="none"
            stroke="#666633"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
    <script>
      window.addEventListener("load", () => {
        const loader = document.getElementById("loader");
        const mainPage = document.getElementById("mainPage");

        setTimeout(() => {
          loader.style.display = "none";
          mainPage.classList.add("show");
        }, 1000); // match animation duration
      });
      // Scroll to top functionality
      const scrollToTopBtn = document.getElementById("scrollToTop");

      window.addEventListener("scroll", () => {
        if (window.pageYOffset > 300) {
          scrollToTopBtn.style.opacity = "1";
        } else {
          scrollToTopBtn.style.opacity = "0";
        }
      });

      scrollToTopBtn.addEventListener("click", () => {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      });

      const menuBtn = document.getElementById("menu-btn");
      const dropdown = document.getElementById("dropdown");

      menuBtn.addEventListener("click", () => {
        menuBtn.classList.toggle("open");

        if (dropdown.classList.contains("hidden")) {
          // Opening the dropdown
          dropdown.classList.remove("hidden");
          dropdown.style.maxHeight = "0px";
          // Force a reflow to ensure the transition works
          dropdown.offsetHeight;
          dropdown.style.maxHeight = dropdown.scrollHeight + "px";
        } else {
          // Closing the dropdown
          dropdown.style.maxHeight = "0px";
          // Wait for the transition to complete before hiding
          setTimeout(() => {
            if (dropdown.style.maxHeight === "0px") {
              dropdown.classList.add("hidden");
            }
          }, 500); // Match the transition duration
        }
      });
    </script>
  </body>
</html>
